h1 { 
    margin: 1em auto 0 auto;
	color: white;
	text-align: center;
}
.search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-input { 
    margin: 1rem auto;
    width: 20rem;
    border-radius:20px;
    padding: 10px 20px;
}
.note-list {
    width: 50vw;
    height: 100vw;
    margin: 0 auto;
    padding: 3.5em 0;
}
